{% extends 'base.html' %}

{% block start %}

<div class='container'>

    <a href= "{% url 'see_blog'%}">
        
    </a>

    <form method='post' class='mt-5 pt-5 mb-5 pb-5' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class='row'>
            <div class='col-md-12'>
                <label>Enter Title</label>
                <input type='text' class='form-control' placeholder="Enter a title for the post" name='title' id='title'>
            </div>
        </div>
<br>
        <div class='col-md-12'>
            {{form.media}}
            {{form.as_p}}
        </div>

        <div class='col-md-12'>
            <input type='file' name='image' class='form-control'>
        </div>


        <button type='submit' class='btn btn-primary mt-4'>Create Post</button>
    </form>

{% endblock %}